<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="category:${categories}">
    <form action="/addProduct" method="get" enctype="multipart/form-data">
        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
            <input id="newsletter_email" type="text" placeholder="name" required="required"
                   data-error="Valid email is required." value="name"><br>
            <input  type="text" placeholder="description" required="required"
                    data-error="Valid email is required." value="description"><br>
            <input  type="text" placeholder="price" required="required"
                    data-error="Valid email is required." value="price"><br>
            <input  type="number" placeholder="count" required="required"
                    data-error="Valid email is required." value="count"><br>
            <span th:text="${category.name}"></span>
            <input  type="radio" class="custom-radio" name="category" th:value="${category.id}">
            <div th:each="s:${size}">
                <input  type="checkbox"  id="select-all" name="select-all" th:value="${s.name()}">
            </div>
            <input  type="file"  required="required"
                    data-error="Valid email is required." value="image"><br>

            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300"
                    value="Submit">Add
            </button>
        </div>
    </form>
</div>
</body>
</html>